.hidden {
  display: none;
}
#lobby-view {
  padding: 0px !important;
}
#instances table {
  margin: 0 auto;
}

#match-exit {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-105%);
  font-size: 20px;
}
#lobby-exit {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(5%);
  font-size: 20px;
}
