.myCard {
  display: inline-block;
  height: 60px;
  width: 45px;
  border-radius: 4px;
  border: 2px solid #333;
  margin: 2px;
  cursor: pointer;
  vertical-align: bottom;
}
.icon {
  pointer-events: none;
  display: block;
  margin: 10px auto;
}
.stacked {
  margin-left: -34px;
}
.cardActive {
  margin-bottom: 20px;
}
