.tuscanyBoard {
  margin: 0 auto;
  background-color: #eee;
  text-align: start;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
