.outer {
  position: relative;
  height: 100%;
  width: 100%;
}
.tileArea {
  position: relative;
  margin-left: 12%;
  margin-top: 3%;
  height: 100%;
  width: 100%;
}
.leftUpDown {
  position: absolute;
  left: 3%;
  top: 40%;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.rightUpDown {
  position: absolute;
  right: 3%;
  top: 40%;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.rotateLeft {
  position: absolute;
  bottom: 10%;
  left: 24%;
  transform: translate(-50%, 0);
}
.rotateMiddle {
  position: absolute;
  bottom: 10%;
  left: 49%;
  transform: translate(-50%, 0);
}
.rotateRight {
  position: absolute;
  bottom: 10%;
  left: 75%;
  transform: translate(-50%, 0);
}
.swapOneTwo {
  position: absolute;
  bottom: 13%;
  left: 37%;
  transform: translate(-50%, 0);
}
.swapTwoThree {
  position: absolute;
  bottom: 13%;
  left: 61%;
  transform: translate(-50%, 0);
}
.boardSetupAccept {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translateY(-50%);
}
